# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/vscode
#/dist
/.pnp
.pnp.js
package-lock.json
.vscode/*

#IDEs
.vs

# testing
/Coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/.vs/slnx.sqlite
src/Tests/Coverage/*
docs/*


#git init
#git add .
#git remote add origin https://ibnemahdi@github.com/ibnemahdi/pwa_notification.git
#git push -u -f origin master


#-----
#git add . 
#git commit -m "comments"
#git push origin main